#Hevents {
    background: $white;
    height: 100vh;
    margin-top: -20rem;
    @include respond(tablet) {
        height: auto;
    }
    h2 {
        @include respond(laptop) {
            text-align: left;
        }
        @include respond(tablet) {
            text-align: center;
        }
    }
    .wrapper {
        z-index: 5;
    }
    .shapes {
        position: relative;
        width: 100%;

        .blueblob {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            z-index: 1;
            @include respond(tablet) {
                top: 8rem;
            }
            @include respond(phone) {
                top: 0;
            }
            img {    
                width: 30rem;
                height: 40rem;
                @include respond(tablet) {
                    width: 50rem;
                    height: 50rem;
                }
                @include respond(phone) {
                    width: 100%;
                }
            }
        }
        .Bline {
            position: absolute;
            top: 22rem;
            right: 7rem;
            display: block;
            z-index: 1;
            @include respond(tablet) {
                top: 42rem;
            }
            @include respond(phone) {
                top: 34rem;
            }
            img {
                width: 15rem;
                height: 15rem;
                @include respond(tablet) {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }
        .Glemon {
            position: absolute;
            top: 25rem;
            left: 11rem;
            display: block;
            z-index: 2;
            @include respond(tablet) {
                top: 75rem;
            }
            @include respond(phone) {
                display: none;
            }
            img {  
                width: 6rem;
                height: 6rem;
            }
        }
        .Rlemon {
            position: absolute;
            top: 15rem;
            left: 0rem;
            display: block;
            z-index: 2;
            @include respond(tablet) {
                top: 50rem;
            }
            @include respond(phone) {
                display: none;
            }
            img {  
                width: 11rem;
                height: 11.1rem;
            }
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 3rem;
        @include respond(tablet) {
            flex-direction: column;
        }

        .singleevent {
            display: flex;
            flex-direction: column;
            width: calc(50% - 1rem);
            // width: calc(33.3% - 1rem);
            height: auto;
            background: $white;
            position: relative;
            border-radius: 1rem;
            box-shadow: 2px 2px 6px 1px $shadow;
            color: $black;
            margin-bottom: 2rem;
            min-height: 42rem;
            &:hover {
                box-shadow: 3px 3px 3px 0px $hover-shadow;
            }
            @include respond(tablet) {
                width: 50%
            }
            @include respond(phone) {
                width: 100%
            }

            .date {
                position: absolute;
                top: 0;
                left: 2rem;
                background: $lemon;
                width: 8rem;
                height: 8rem;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    display: block;
                    font-size: 2rem;
                }
            }

            .innercontainer {
                padding: 2rem;

                .imager {
                    width: 100%;
                    display: block;

                    img {
                        height: 240px;
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        object-position: center top;
                    }
                }

                h3 {
                    margin-top: 1.5rem;
                    margin-bottom: 0.5rem;
                }
                .time, .address {
                    color: $lime;
                    font-size: 1.5rem;
                }
                .description {
                    margin: 1.5rem 0rem;
                    font-size: 1.3rem;
                }
                .read {
                    color: $orange;
                }
            }
        }
    }
}