#Htestimonial {
    background: $white;
    height: auto;
    margin-top: 0rem;
    // margin-top: -20rem;
    position: relative;
    // @include respond(large-laptop) {
    //     padding-top: 15rem;
    // }
    @include respond(tablet) {
        margin-top: 10rem;
        padding-top: 0rem;
    }
    .wrapper {
        text-align: center;
    }
    .shapes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        img {
            margin-right: 2rem;
        }
    }
    .testswip {
        margin: 5rem 0rem;
    }
    .testflex {
        display: flex;
        flex-direction: column;
        @include respond(tablet) {
            padding: 2rem;
        }
        .test-author {
            text-transform: capitalize;
            font-weight: 700;
            margin-top: 2rem;
            p {
                font-style: italic;
            }
        }
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 10rem;
        left: auto;
        top: 60%;
        @include respond(tablet) {
            right: 0rem;
        }
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        right: auto;
        left: 10rem;
        top: 60%;
        @include respond(tablet) {
            left: 0rem;
        }
    }
}