@keyframes navLinkFade {
    from {
      opacity: 1;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
// home rotating shape
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

// test 404
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes rotateX {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(0deg);}
}
// end 404