// COLORS
$lemon: #fcd31f;
$lime: #95c11f;
$rasberry: #e50051;
$blue: #00aacd;
$orange: #f18825;

$white: #fff;
$black: #000;
$light-grey: #ebebeb;
$blog-shadow: #6d6d6d2b;
$product-banner: #c4c0b5;
$error: #ff0000;

// Box shadow
$shadow: #00000038;
$hover-shadow: #00000061;

// Footer colors
$footblack: #1d1d1b;
$footyellow: #fcd31f;
$footgrey: #858484;