//basic colors
$white: #ffffff;
$black: #000000;
$grey: #5f6062;
$light-grey: #cdcdcd;
$lighter-grey: #e8e8e8;

//Site Colors
$btn-main: #b74530;
$nav-color: #292929;
$nav-ul: #333333;
$footer1: #5f6062;
$footer2: #c6ccc8;
$footer3: #252323;
$footer-hover: #c14f3b;

//Gravity forms
$error: #ff0000;

//numbers
$gformfoot: -70px;
$mobilePad: 0rem 2rem;
$margintop: 50px;
$headerheight: 120px;
