// Foundation colors
$white: #ffffff;
$black: #000000;

$navy: #282d40;

$green: #5b745f;
$light-green: #9ea293;

$light-brown: #d1c8b7;
$beige: #f6f2ef;

$medium-grey: #dbd6d0;
$light-grey: #e9e8e6;

//math
$header-top: 100px;
