#linkedin {
  overflow: hidden;
  .linkTop,
  .linkBot {
    &--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1000px) {
        justify-content: space-evenly;
        flex-direction: column;
      }
    }
    &--contarea {
      width: calc(50% - 50px);
      position: relative;
      @media (max-width: 1000px) {
        width: calc(100% - 20px);
      }
      h3 {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border: 2px solid $green;
          bottom: -10px;
          left: 0;
          width: 80px;
        }
      }
    }
    &--img {
      width: 50%;
      position: relative;
      @media (max-width: 1000px) {
        width: 100%;
      }
      img.element3 {
        position: absolute;
        top: -80px;
        left: -120px;
        width: auto;
        height: 200px;
        object-position: center;
        object-fit: cover;
        @media (max-width: 1000px) {
          display: none;
        }
      }
      img {
        object-fit: cover;
        object-position: center;
        height: 500px;
        width: 100%;
        @media (max-width: 1000px) {
          height: 300px;
        }
      }
    }
  }
  .linkTop {
    margin-bottom: 100px;
  }
  .linkBot {
    margin-top: 100px;
    @media (max-width: 1000px) {
      margin-top: 0;
      margin: 50px 0;
    }
  }
  .linkMid {
    &--contarea {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      position: relative;
      @media (max-width: 1000px) {
        width: calc(100% - 20px);
      }
      h3 {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border: 2px solid $green;
          bottom: -10px;
          left: 0;
          width: 80px;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
  // form
  .beige {
    background: $beige;
    .wrapper {
      width: 1000px;
    }
  }
  .cont-form {
    margin: 80px 0 0;
    padding: 20px 0;
    @media (max-width: 1000px) {
      padding: 10px 20px;
      margin: 50px 0;
    }
    h3 {
      margin: 0 0 5px 0;
      text-align: center;
      @media (max-width: 500px) {
        margin-top: 10px;
      }
    }
  }
  div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
  div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
  div.wpforms-container-full
    .wpforms-form
    .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
  }
  textarea,
  input,
  select,
  button {
    font: inherit;
    font-size: initial;
  }
  .wpforms-submit-container button {
    display: inline-block;
    padding: 10px 50px !important;
    font-size: 18px !important;
    background: $white;
    color: $black;
    border: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:hover {
      background: $green;
      color: $white;
    }
  }
}
